*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(48, 48, 48),rgb(27, 27, 27),black);
    padding: 20px;
   
}
section{
    height: 100%;
    width: 300px;
    /* background-color: black; */
    margin: auto;
    border-radius: 20px; 
    
}
.allreels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.allreels::-webkit-scrollbar {
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    /* background-color: crimson; */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
#main-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.reel .bottom{
    padding: 30px 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),black);
    position: absolute;
    bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.bottom .user img{
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
}
.bottom .user h4{
    color: aliceblue;
    font-weight: 200;
}
.bottom .user button{
  background-color: transparent;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  border: 2px solid white;
}
.bottom>h3{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.right{
    width: 40px;
    color: white;
    position: absolute;
    bottom: 10%; 
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* transform: translateX(100%); */
    text-align: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
.right i{
    font-size: 23px;
    font-weight: 400;
}
.right h4{
    cursor: pointer;
    pointer-events: none;
}

.right h6{
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
}
.right>div{
    width: 50px;
    cursor: pointer;
}
.love{
    color: red;
}
.mute{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:transparent;
     display: flex;
    justify-content: center;
    align-items: center; 
  
   cursor: pointer;
   position: absolute;
   top: 10px;
   right: 10px;
}
.mute:active{
    scale: 0.95;
}
.mute i{
     font-size: 20px;
    color: white;
    pointer-events: none;
}